Django==4.1.5
pandas==2.2.0
scikit-learn
statsmodels
django-cors-headers
langchain==0.2.10
langchain-openai
langchain_community
langchain_core
langchain_pinecone
langchain_text_splitters
langgraph
pinecone
python-dotenv
python_docx
streamlit
pypdf
